.records{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

section{
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    padding: 0 20px 15px 20px;
    background-color: white;
}