<section class="wrapper">
    <div class="dataHolder">
        <h3>{{data.title}}</h3>
        <table>
            <tr *ngFor="let temp of data.statistics">
                <td>{{temp.value}}</td>
                <td>{{temp.parameter}}</td>
            </tr>

        </table>
    </div>
    <section>
        <h3>
            Compared to Previous Year
        </h3>
        <div class="analytics">
            <p-chart type="bar" [data]="data.basicData"></p-chart>
        </div>
        
    </section>
</section>