<section class="wrapper">
    <div class="dataHolder">
        <h3>{{temp.title}}</h3>
        <table>
            <tr *ngFor="let tem of temp.statitics">
                <td>{{tem.value}}</td>
                <td>{{tem.tar}}</td>
            </tr>

        </table>
    </div>
    <section>
        <h3>
            Compared to Previous Year
        </h3>
        <div class="analytics">
            <p-chart type="bar" [data]="basicData"></p-chart>
        </div>
        
    </section>
</section>